<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Development Area</title>
    <!-- ALL CSS FILES  -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>
  <body>
    <div id="root">
      <div class="wrap-table">
        <a
          class="btn btn-primary btn-sm mb-2"
          data-toggle="modal"
          href="#add_new_user"
          >Add new user</a
        >
        <div class="card shadow">
          <div class="card-body">
            <h2>All Data</h2>
            <!-- search user by search box  -->
            <input
              @keyup="searchUser()"
              v-model="search"
              type="text"
              class="form-control-sm"
              placeholder="Search User"
              style="float: right; margin-bottom: 10px; width: 200px"
            />
            <!-- Search user male or female -->
            <div style="display: inline; float: right" class="mx-2">
              <select
                @change="searchByGenderAndLocation()"
                v-model="search_gender"
                class="form-control form-control-sm"
              >
                <option value="" disabled selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <!-- Search user location wise -->
            <div
              style="display: inline; float: right; width: 200px"
              class="mx-2"
            >
              <input
                @change="searchByGenderAndLocation()"
                v-model="search_location"
                type="text"
                class="form-control-sm"
                placeholder="Search Location"
                style="float: right; margin-bottom: 10px; width: 200px"
                list="location"
              />
              <datalist id="location" class="form-control form-control-sm">
                <option
                  :value="user.location"
                  v-for="user in locations"
                ></option>
              </datalist>
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Cell</th>
                  <th>Gender</th>
                  <th>Location</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, i) in users">
                  <td>{{ i+1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.cell }}</td>
                  <td>{{ user.gender }}</td>
                  <td>{{ user.location }}</td>
                  <td>
                    <img :src="'uploads/users/'+user.photo" alt="" />
                  </td>
                  <td>
                    <a
                      class="btn btn-sm btn-info"
                      data-toggle="modal"
                      href="#view_user_data"
                      @click="useViewDetails(user.id, $event)"
                      >View</a
                    >
                    <a
                      class="btn btn-sm btn-warning"
                      data-toggle="modal"
                      href="#edit_user_data"
                      @click="editUserData(user.id)"
                      >Edit</a
                    >
                    <a
                      class="btn btn-sm btn-danger"
                      data-toggle="modal"
                      href="#delete_user_data"
                      @click="useViewDetails(user.id, $event)"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- User add modal -->
      <div id="add_new_user" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Add New User</h2>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="form-group">
                  <label for="">Name</label>
                  <input
                    v-model="add.name"
                    type="text"
                    class="form-control"
                    placeholder="Name"
                  />
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input
                    v-model="add.email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <label for="">Cell</label>
                  <input
                    v-model="add.cell"
                    type="text"
                    class="form-control"
                    placeholder="Cell"
                  />
                </div>
                <div class="form-group">
                  <label for="" style="margin-right: 20px">Gender</label>
                  <div class="custom-control custom-radio d-inline">
                    <input
                      v-model="add.gender"
                      type="radio"
                      name="gender"
                      value="Male"
                      class="custom-control-input"
                      id="Male"
                    /><label
                      for="Male"
                      style="margin-right: 10px"
                      class="custom-control-label"
                      >Male</label
                    >
                  </div>

                  <div class="custom-control custom-radio d-inline">
                    <input
                      v-model="add.gender"
                      type="radio"
                      name="gender"
                      class="custom-control-input"
                      value="Female"
                      id="Female"
                    /><label for="Female" class="custom-control-label"
                      >Female</label
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Location</label>
                  <input
                    v-model="add.location"
                    type="text"
                    class="form-control"
                    placeholder="Location"
                  />
                </div>
                <div class="form-group">
                  <label for="user_photo" style="margin-right: 90px"
                    ><i class="fas fa-file-image text-info fa-5x"></i
                  ></label>
                  <input
                    ref="fphoto"
                    type="file"
                    class="form-control-file"
                    style="display: none"
                    id="user_photo"
                    @change="addPhoto($event)"
                  />
                  <img :src="add.photo" style="width: 200px" alt="" />
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-sm btn-block btn-success mt-5"
                    @click="addNewUser()"
                  >
                    Add User
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- User data view modal -->
      <div id="view_user_data" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                <img
                  :src="'uploads/users/'+view.photo"
                  style="
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    display: block;
                    margin: auto;
                  "
                  class="shadow"
                  alt=""
                />
                <h3 class="text-center mt-2">{{ view.name }}</h3>
                <hr />
                <tr>
                  <td>Name</td>
                  <td>{{ view.name }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{ view.email }}</td>
                </tr>
                <tr>
                  <td>Cell</td>
                  <td>{{ view.cell }}</td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td>{{ view.gender }}</td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td>{{ view.location }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Delete user data modal -->
      <div id="delete_user_data" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body text-center">
              <img
                :src="'uploads/users/'+view.photo"
                class="shadow-lg avatar"
                style="
                  width: 60px;
                  height: 60px;
                  border: 5px solid rgb(21, 189, 35);
                  border-radius: 50%;
                "
                alt=""
                onerror="this.src='check3.jpg';"
              />
              <h6 class="my-2">
                Are you sure ? you want to delete {{ view.name }}!
              </h6>
            </div>
            <div class="modal-footer">
              <button class="btn btn-sm btn-secondary" data-dismiss="modal">
                Cancel
              </button>
              <button
                class="btn btn-sm btn-danger"
                @click="deleteUserData(view.id)"
                data-dismiss="modal"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Edit user data modal -->
      <div id="edit_user_data" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3>Edit user data</h3>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="form-group">
                  <input
                    v-model="edit.id"
                    style="display: none"
                    class="form-control"
                  />
                  <label for="">Name</label>
                  <input
                    v-model="edit.name"
                    type="text"
                    class="form-control"
                    placeholder="Name"
                  />
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input
                    v-model="edit.email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <label for="">Cell</label>
                  <input
                    v-model="edit.cell"
                    type="text"
                    class="form-control"
                    placeholder="Cell"
                  />
                </div>
                <div class="form-group">
                  <label for="" style="margin-right: 20px">Gender</label>
                  <div class="custom-control custom-radio d-inline">
                    <input
                      v-model="edit.gender"
                      type="radio"
                      name="ugender"
                      value="Male"
                      class="custom-control-input"
                      id="UMale"
                    /><label
                      for="UMale"
                      style="margin-right: 10px"
                      class="custom-control-label"
                      >Male</label
                    >
                  </div>

                  <div class="custom-control custom-radio d-inline">
                    <input
                      v-model="edit.gender"
                      type="radio"
                      name="ugender"
                      class="custom-control-input"
                      value="Female"
                      id="UFemale"
                    /><label for="UFemale" class="custom-control-label"
                      >Female</label
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Location</label>
                  <input
                    v-model="edit.location"
                    type="text"
                    class="form-control"
                    placeholder="Location"
                  />
                </div>
                <div class="form-group">
                  <label for="edit_photo" style="margin-right: 90px"
                    ><i class="fas fa-file-image text-info fa-5x"></i
                  ></label>
                  <input
                    ref="file"
                    type="file"
                    class="form-control-file"
                    style="display: none"
                    id="edit_photo"
                    @change="editPhoto($event)"
                  />
                  <input type="hidden" v-model="edit.old_photo" />
                  <img
                    :src="'uploads/users/'+edit.photo"
                    style="width: 200px"
                    alt=""
                  />
                  <!-- when photo is conflict -->
                  <img :src="edit.photo" style="width: 200px" alt="" />
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-sm btn-block btn-success mt-5"
                    @click="updateUser()"
                  >
                    Update User
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS FILES  -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/all.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Vue js Script -->
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/axios.min.js"></script>

    <!-- Vue js instance create -->
    <script>
      const root = new Vue({
        el: "#root",
        data: {
          users: {
            name: "",
            email: "",
            cell: "",
            gender: "",
            location: "",
            photo: "",
          },
          add: {
            name: "",
            email: "",
            cell: "",
            gender: "",
            location: "",
            photo: "",
          },
          view: {
            name: "",
            email: "",
            cell: "",
            gender: "",
            location: "",
            photo: "",
          },
          edit: {
            id: "",
            name: "",
            email: "",
            cell: "",
            gender: "",
            location: "",
            photo: "",
            old_photo: "",
          },
          locations: "",
          search: "",
          search_gender: "",
          search_location: "",
        },
        methods: {
          getAllUsers: function () {
            axios.get("inc/user.php?action=read").then(function (response) {
              //   console.log(response.data);
              root.users = response.data;
            });
          },
          addPhoto: function (event) {
            let user_photo = URL.createObjectURL(event.target.files[0]);
            root.add.photo = user_photo;
          },
          editPhoto: function (event) {
            let user_photo = URL.createObjectURL(event.target.files[0]);
            root.edit.photo = user_photo;
          },
          addNewUser: function () {
            if (
              root.add.name != "" ||
              root.add.email != "" ||
              root.add.cell != "" ||
              root.add.gender != "" ||
              root.add.location != ""
            ) {
              //get photo from form
              root.add.photo = root.$refs.fphoto.files[0];

              //all data get by form
              let userData = new FormData();

              userData.append("name", this.add.name);
              userData.append("email", this.add.email);
              userData.append("cell", this.add.cell);
              userData.append("gender", this.add.gender);
              userData.append("location", this.add.location);
              userData.append("photo", this.add.photo);

              axios
                .post("inc/user.php?action=create", userData, {
                  headers: {
                    "Content-Type": "multipart/form-data",
                  },
                })
                .then(function (response) {
                  // alert(response.data);
                  root.getAllUsers();
                });
            } else {
              alert("All fields are required!");
            }
          },
          useViewDetails: function (id, event) {
            axios
              .get("inc/user.php?action=view&id=" + id)
              .then(function (response) {
                // console.log(response.data);
                root.view = response.data;
              });
          },
          deleteUserData: function (id) {
            axios
              .get("inc/user.php?action=delete&id=" + id)
              .then(function (response) {
                // console.log(response.data);
                root.getAllUsers();
              });
          },
          editUserData: function (id) {
            axios
              .get("inc/user.php?action=edit&id=" + id)
              .then(function (response) {
                // console.log(response.data);
                root.edit = response.data;
                root.edit.old_photo = response.data.photo;
              });
          },
          updateUser: function () {
            if (
              root.edit.name != "" ||
              root.edit.email != "" ||
              root.edit.cell != "" ||
              root.edit.gender != "" ||
              root.edit.location != ""
            ) {
              //get photo from lorm
              root.edit.photo = root.$refs.file.files[0];

              //all data bind into formdata
              let userData = new FormData();

              userData.append("id", root.edit.id);
              userData.append("name", root.edit.name);
              userData.append("email", root.edit.email);
              userData.append("cell", root.edit.cell);
              userData.append("gender", root.edit.gender);
              userData.append("location", root.edit.location);
              userData.append("photo", root.edit.photo);
              userData.append("old_photo", root.edit.old_photo);

              axios
                .post("inc/user.php?action=update", userData, {
                  headers: {
                    "Content-Type": "multipart/form-data",
                  },
                })
                .then(function (response) {
                  // alert(response.data);
                  this.getAllUsers();
                });
            }
          },
          getAllLocation: function () {
            axios
              .get("inc/user.php?action=read_loaction")
              .then(function (response) {
                // console.log(response.data);
                root.locations = response.data;
              });
          },
          searchUser: function () {
            axios
              .get("inc/user.php?action=search&search=" + root.search)
              .then(function (response) {
                // console.log(response.data);
                root.users = response.data;
              });
          },
          searchByGenderAndLocation: function () {
            let searchData = new FormData();
            searchData.append("gender", root.search_gender);
            searchData.append("location", root.search_location);
            axios
              .post("inc/user.php?action=multiple", searchData)
              .then(function (response) {
                root.users = response.data;
                // console.log(response.data);
              });
          },
          // searchByGender: function () {
          //   axios
          //     .get(
          //       "inc/user.php?action=search_gender&search_gender=" +
          //         root.search_gender
          //     )
          //     .then(function (response) {
          //       // console.log(response.data);
          //       root.users = response.data;
          //     });
          // },
          // searchByLocation: function () {
          //   axios
          //     .get(
          //       "inc/user.php?action=search_location&search_location=" +
          //         root.search_location
          //     )
          //     .then(function (response) {
          //       // console.log(response.data);
          //       root.users = response.data;
          //     });
          // },
        },
        created() {
          this.getAllUsers();
          this.getAllLocation();
        },
      });
    </script>
  </body>
</html>
